.lines-container {
  display: flex;
  flex-direction: column;
  /* Add space between lines */
}

.line {
  margin-bottom: 0px; /* You already have gap, so margin here is not necessary */
}

@media (min-width: 768px) {
  .lines-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: inline;
     /* Maintain gap between lines even in row layout */
  }

  .line {
    flex: 1 1 50%; /* Each line will take up 50% of the width on larger screens */
  }
}
